modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
SMTP_HOST = "smtppro.zoho.eu"
SMTP_PORT = "465"
FROM_EMAIL = "info@mekteb.net"
SMTP_USER = "info@mekteb.net"
SMTP_PASS = "Kasariste*92"
ONESIGNAL_APP_ID = "feaa5a2c-ded2-4ab0-b0b0-04d8bac560cd"
VITE_ONESIGNAL_APP_ID = "feaa5a2c-ded2-4ab0-b0b0-04d8bac560cd"

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 25361
externalPort = 3000
